*   Nombre: Daniel Queijeiro Albo
*   Matrícula: A01710441

In [ ]:
import pandas as pd
import numpy as np

1. Subir el archivo netflix_titles.csv y cargarlos en un DataFrame

In [ ]:
!curl -O https://raw.githubusercontent.com/Manchas2k4/tc1002S/main/datasets/netflix_titles.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2930k  100 2930k    0     0  7513k      0 --:--:-- --:--:-- --:--:-- 7494k

In [ ]:
df = pd.read_csv('netflix_titles.csv')

2. Desplegar las primeras 5 líneas del DataFrame

In [ ]:
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Implementa una función que despliegue el primer renglon de un DataFrame

In [ ]:
def the_first(x):
  y = df.head(x)
  return y

the_first(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

4. Implementa una función que regrese el número de registros en el DataFrame

In [38]:
def row_number(df):
  y = len(df)
  return y

row_number(df)

7787

5. Implementa una función que despliega las películas con un release_year determinado.

In [40]:
def released_year(df, year):
  determined_y = df.groupby('release_year').get_group(year)
  return determined_y 

year_query = 2020
released_year(df, year_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...
...,...,...,...,...,...,...,...,...,...,...,...,...
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7738,s7739,TV Show,Young Wallander,NaN,"Adam Pålsson, Richard Dillane, Leanne Best, El...",United Kingdom,"September 3, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","An incendiary hate crime stirs civil unrest, f..."
7741,s7742,Movie,Your Name Engraved Herein,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Taiwan,"December 23, 2020",2020,TV-MA,115 min,"Dramas, International Movies, LGBTQ Movies","In 1987, as martial law ends in Taiwan, Jia-ha..."
7744,s7745,Movie,"Yours Sincerely, Kanan Gill",Neville Shah,Kanan Gill,India,"April 24, 2020",2020,TV-MA,72 min,Stand-Up Comedy,Revisiting life goals set in a letter written ...

6. Implementa una función que despliegue las películas que son de un país determinado.

In [41]:
def origin_country(df, country):
  determined_c = df.groupby('country').get_group(country)
  return determined_c

country_query = 'Mexico'
origin_country(df, country_query)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...
...,...,...,...,...,...,...,...,...,...,...,...,...
7698,s7699,TV Show,Yankee,NaN,"Pablo Lyle, Ana Layevska, Leonardo Daniel, Jav...",Mexico,"June 14, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","On the run from the police, an Arizona man cro..."
7725,s7726,TV Show,You Cannot Hide,NaN,"Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...",Mexico,"October 1, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A nurse and her daughter flee her husband’s dr...
7734,s7735,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...
7773,s7774,Movie,Zoé: Panoramas,"Rodrigo Guardiola, Gabriel Cruz Rivas","Sergio Acosta, Jesús Báez, Ángel Mosqueda, Rod...",Mexico,"November 1, 2019",2016,TV-MA,89 min,"Documentaries, International Movies, Music & M...",This introspective rockumentary follows the ca...
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...

7. Crea un nuevo DataFrame que sólo contenga las columnas type, title, country, y release_year.

In [45]:
ndf = pd.read_csv('netflix_titles.csv', usecols=[1,2,5,7])
ndf.head()

      type  title        country  release_year
0  TV Show     3%         Brazil          2020
1    Movie   7:19         Mexico          2016
2    Movie  23:59      Singapore          2011
3    Movie      9  United States          2009
4    Movie     21  United States          2008
5  TV Show     46         Turkey          2016

8. Despliega, cuantos tipos de producciones (type) se hicieron por país determinado (country)

In [67]:
def type_c(df, country):
  lista = ndf.groupby('country').get_group(country)
  tv = lista['type'].value_counts()['TV Show']
  movie = lista['type'].value_counts()['Movie']
  return tv, movie

country_query = 'Brazil'
type_c(ndf, country_query)

(26, 46)

9. Implementa la función que genera el cuadrado de un número.

In [ ]:
def square(x):
  x= x * x
  return x

square(10)

100

10. Usando el método apply, genera el cuadrado de todos los valores del siguiente DataFrame

In [72]:
df2 = pd.DataFrame({'A': [1,2,3,5,6], 'B':[10,20,30,40,50]})
df2

   A   B
0  1  10
1  2  20
2  3  30
3  5  40
4  6  50

In [73]:
df2.apply(square, axis=1)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500